.card {

    &__result {
        border-radius: .8rem;
    }

    &__result-img {
        padding: 1rem;
        width: 100%;
        max-width: 30rem;
    }

    &__result-title {
        font-size: 1.4rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    &__result-button {
        width: 100%;
        text-align: center;
    }

    &__result-text {
        color: $color-orange;
        font-weight: $font-bold;
    }

    &__result-star {
        margin-bottom: .5rem;
    }
}