@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    font-size: 62.5%; //1rem = 10px
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.8rem;
    font-weight: $font-bold;
}

p{
    font-family: 'Poppins', sans-serif;
    font-weight: $font-light;
    color: $color-light-gray2;
    font-size: 1.6rem;
}