.footer {
    border-top: .1rem solid $color-light-gray;
    padding-top: 8rem;

    &__title {
        span  {
            color: $color-pink;
        }
    }

    .list-group {
        list-style: none;
        margin-left: 5rem;

        @include media-breakpoint-down(lg) {
            margin-left: 0;
            margin-top: 3rem;
        }

        &__item {
            font-family: 'Poppins', sans-serif;
            font-weight: $font-light;
            color: $color-light-gray2;
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }
    }

    .box-cprght {
        margin-top: 5rem;
        text-align: left;

        span {
            color: $color-dark-black;
            font-weight: $font-medium;
        }
    }
}