header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 10%;
    font-size: 1.4rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);

    .logo__container {
        margin-right: auto;

        h1>a {
            text-decoration: none;
            color: $color-dark-black;
        }

        span {
            color: $color-pink;
            font-size: 3.2rem;
        }

        .logo {
            cursor: pointer;
            width: 4rem;
        }
    }

    .nav__links {
        list-style: none;

        li {
            display: inline-block;
            padding: 0rem 2rem;
            text-align: center;

            a {
                transition: all 0.3s ease 0s;
                color: $color-light-gray3;
                text-decoration: none;

                &:hover {
                    color: $color-pink;
                }
            }
        }
    }

    .button__primary {
        margin-left: 3rem;
    }
}