header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 10%;
    font-size: 1.4rem;
    border-bottom: .1rem solid $color-light-gray;

    .logo__container {
        margin-right: auto;

        .logo {
            cursor: pointer;
            width: 4rem;
        }
    }

    .nav__links {
        list-style: none;

        li {
            display: inline-block;
            padding: 0rem 2rem;
            text-align: center;

            a {
                transition: all 0.3s ease 0s;
                color: $color-light-gray3;
                text-decoration: none;

                &:hover {
                    color: $color-dark-black;
                }
            }
        }
    }

    .button__primary {
        margin-left: 3rem;
    }
}