.about {
    &__section {
        margin-top: 7rem;
        padding: 7.5rem 2rem 2.5rem;

        .h1-custom {
            font-size: 3.2rem;
            font-weight: $font-light;
            color: #111;

            span {
                font-size: 4.2rem;
                font-weight: $font-bold;
            }
        }
    }

}