.search{ 
    &__section{
        padding: 7.5rem 2rem 2.5rem;

        @include media-breakpoint-up(md) {
            padding: 10rem;
        }

        h1 {
            margin-bottom: 2rem;

            @include media-breakpoint-up(lg) {
                font-size: 4.2rem;
            }

            @include media-breakpoint-up(md) {
                font-size: 3.8rem;
                text-align: center;
            }
        }

        .p_title {
            margin-bottom: 3rem;

            @include media-breakpoint-up(md) {
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
        }

        .count__result {
            text-align: left;
        }
    }

    &__box {
        top: 2rem;
        z-index: 9999;
        margin: 0 auto;
        width: 100%;
        max-width: 67.5rem;
        border-radius: 3rem;
        border:1px solid #dcdcdc;
        background-color: $color-white;
        position: sticky;
        text-align: center;

        &:hover {
            box-shadow: 1px 1px 8px 1px #dcdcdc;
        }

        &:focus-within {
            box-shadow: 1px 1px 8px 1px #dcdcdc;
            outline:none;
        }

        .searchbar {
            height:55px;
            border:none;
            width: 100%;
            max-width:600px;
            font-size:16px;
            outline: none;

        }

        .icon__search {
            left: 10px;
            position: relative;
            font-size: 1.6rem;
        }
    }

    &__select {
        font-size: 1.6rem; 
        margin-right: auto;
        margin-top: 6rem;
        margin-bottom: 2rem;
        border-color: $color-light-gray;
    }
}